---
layout: default
title: Best practices for running containers and Kubernetes in production
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Best practices for running containers and Kubernetes in production
        %h2.page-subtitle A Report from Gartner, Inc.

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p According to Gartner, "The container ecosystem is immature and lacks operational best practices, but adoption of containers and Kubernetes is increasing for legacy modernization and cloud-native applications.""
            
            %p In this report, Gartner outlines best practices for I&O leaders to enable and expedite container deployment in production environments.

            %h3 What you’ll learn in this Gartner report:
            %ul
              %li Questions to determine if you are ready to deploy containers in production
              %li Best practices and recommendations for a platform strategy
              %li How to create the team to scale your DevOps

            %p Download this Gartner report for recommendations to get you started with container deployment in your production environment. 

          .font-small
            %p Gartner, Best Practices for Running Containers and Kubernetes in Production, Arun Chandrasekaran, 25 February 2019

        .col-md-4.col-md-offset-1
          %h2.margin-top0 Download the report
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          .col-md-4.col-md-4.col-md-offset-1
            %h3 <a href="https://www.gartner.com/doc/reprints?id=1-WDD7VN8&ct=190628&st=sb">Click here to download the report.</a>
            %p You will also receive an copy of the report sent to your inbox shortly.
